@use 'global' as *;
@use 'carrusel' as *;


body {
    background-color: #fffbf7;;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin: 3em;
}
.main {
    margin: 5rem;
    text-align: center;
}
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}